$mostaza: #ffc107; 
$rojo: #dc143c;
$crema: #f5e6cc;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

@mixin paddings($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
    
}
 

.jumbotron { 
    background:$mostaza;
    color:black;
    @include margenes(10px, 10px )
}

.card-seccion { 
    flex: 1 150px;
    @include margenes(3px, 10px);
    @include paddings (2px, 2px)
}

.footer{ 
    background: $mostaza;
    }

.colorletra { 
    color: $crimson;
    -webkit-text-stroke: 0.3px black;
}

.background { 
    background: $crema; 
}

.iconos { 
    padding-right: 5px;
    color: $rojo;
}

.colorletra2 { 
    color: $rojo;
}

