.jumbotron {
  background: #ffc107;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-seccion {
  flex: 1 150px;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px; }

.footer {
  background: #ffc107; }

.colorletra {
  color: #dc143c;
  -webkit-text-stroke: 0.3px black; }

.background {
  background: #f5e6cc; }

.iconos {
  padding-right: 5px;
  color: #dc143c; }

.colorletra2 {
  color: #dc143c; }
