.jumbotron { 
    background: #ffc107;
    color:black;
    margin-top: 10px;
}

.card-seccion { 
    flex: 1 150px;
    margin-bottom: 10px;
}

.footer{ 
    background: #ffc107;
    }

.colorletra { 
    color: crimson;
    -webkit-text-stroke: 0.3px black;
}

.background { 
    background: rgb(245, 230, 204)
}

.iconos { 
    padding-right: 5px;
    color: crimson;
}